<!DOCTYPE html>
<html>

<head>
    <title>GameHub</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <script src="{% static 'js/main.js' %}"></script>


</head>

<body>

    <!-- Top navigation bar -->
    <div class="navbar">
        <div>
            <a href="/" style="color:white; margin-right:10px;">Games</a>
        </div>

        <div>
            {% if user.is_authenticated %}
            <span>Logged in as {{ user.username }}</span>
            <a href="{% url 'logout' %}" style="color:white; margin-left:10px;">Logout</a>

            {% else %}
            <a href="/accounts/login/" style="color:white; margin-right:10px;">Login</a>
            <a href="/accounts/register/" style="color:white;">Register</a>
            {% endif %}
        </div>
    </div>

    <!-- Page content -->
    <div class="page-wrapper">
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>