{% extends 'base.html' %}
{% block content %}

<!-- wrapper box that makes the login form centered and styled -->
<div class="auth-wrapper">

    <!-- page title -->
    <h2>Login</h2>

    <!-- login form -->
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>

        <!-- submit button -->
        <button type="submit">Login</button>
    </form>

</div>

{% endblock %}
